body {
  background: #444444;
}

.material-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba( 0, 0, 0, 0.50);
  transition: all 0.25s linear;
  font-family: Arial, Helvetica, 'sans-serif';
  color: #444;
  font-size: small;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 4px;
}

.material-button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba( 0, 0, 0, 0.75);
  transition: all 0.25s linear;
}

.example-base {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333;
}

.hide {
  display: none;
}

.l-demo-container {
  width: 500px;
  margin: 40px auto 0px auto;
}

.l-popout {
  margin: 0;
  padding: 0;
  border: 0;
}

.l-popout iframe {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#colorholder {
  width: 480px;
  height: 30px;
  border: 2px solid #424547;
  margin: 5px auto 0px auto;
}

#drawing-canvas {
  border: 3px solid #999;
}

.colorbox {
  width: 22px;
  height: 22px;
  margin: 1px;
  display: inline-block;
  border: 3px solid black;
}

.example-leaderboard {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  overflow: auto;
  color: #666;
}

.example-leaderboard table {
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}

.example-leaderboard table th {
  background: #EEE;
  border-bottom: 1px solid #CCC;
  font-size: 12px;
  color: #999;
  padding: 5px 10px;
  text-align: left;
}

.example-leaderboard table td {
  border-bottom: 1px solid #EEE;
  padding: 10px;
  color: #28a562;
}

.example-leaderboard table td em {
  font-style: normal;
  font-weight: bold;
  color: #666;
}

.example-leaderboard table tr:first-child td {
  background: green;
}

.example-leaderboard input {
  box-sizing: border-box;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0px 10px;
  height: 30px;
  font-size: 18px;
  font-weight: normal;
  outline: none;
  border: 1px solid #CCC;
}

.example-leaderboard textarea {
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0px 10px;
  height: auto;
  font-size: 18px;
  font-weight: normal;
  outline: none;
  border: 1px solid #CCC;
}

.example-leaderboard input.example-leaderboard-name {
  width: 186px;
  margin-right: 10px;
}

.example-leaderboard input.example-leaderboard-score {
  width: 300px;
}

#highestscore {
  margin-top: 20px;
  font-size: 14px;
}


/* Presence */

#presenceDiv {
  text-align: center;
}


/* Tetris */

.tetris-body {
  width: 600px;
}

#canvas0,
#canvas1 {
  display: inline-block;
  border: 4px solid #424547;
}

#restartButton {
  margin-top: 5px;
}

#gameInProgress {
  font-size: 14px;
}

.bold-text {
  color: #666;
}
